<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册：平台审核 - TMS</title>
    <link rel="stylesheet" href="../frame/3.3.7/css/bootstrap.min.css?v=1.0">
    <link rel="stylesheet" href="../frame/static/css/global.css?v=1.0">
    <link rel="stylesheet" href="../frame/static/css/regist.css?v=1.0">
</head>

<body>
    <!-- Start:头部 -->
    <div class="panel-head">
        <div class="panel-logo">
            <div class="panel-left"><img src="../frame/static/images/logo.png"><span>用户注册</span></div>
            <div class="panel-right">已有账号？<a href="/">立即登录</a></div>
        </div>
    </div>
    <!-- End:头部 -->

    <!-- Start:内容 -->
    <div class="panel-main">
        <!-- Start:步骤3 -->
        <div class="panel-register" id="register-step3">
            <div class="steps-list">
                <ul class="step3">
                    <li>1、填写账户信息</li>
                    <li>2、填写详细信息</li>
                    <li>3、平台审核</li>
                </ul>
            </div>
            <div class="register-body">
                <div class="reg-success">
                    <p class="txt1"><img src="../frame/static/images/success.gif"></p>
                    <p class="txt2">恭喜您，提交资料成功。<span style="color:#666;">系统将在 <i style="font-style:normal;" id="sec">10</i> 秒后自动为您跳转登录页面...</span></p>
                    <p class="txt3">工作人员会在2个工作日内联系您进行认证，请保持手机号码畅通。<br>如有疑问，请联系平台，谢谢合作！</p>
                </div>
            </div>
        </div>
        <!-- End:步骤3 -->
    </div>
    <!-- End:内容 -->

    <!-- Start:底部 -->
    <div class="panel-foot">
        <div class="panel-bottom">
            <p class="txt1"><a href="http://www.hcwanli.com/gongsijianjie/" target="_blank">关于我们</a>|<a href="http://www.hcwanli.com/xinpinshangxian/" target="_blank">新闻动态</a>|<a href="http://www.hcwanli.com/lianxiwomen/" target="_blank">联系我们</a>|<a href="http://www.hcwanli.com/bangzhuzhongxin/"
                    target="_blank">帮助中心</a></p>
            <p class="txt2">&copy; 2017 - 2020 广东航程科技有限公司. All Rights Reserved　<a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17154150号-11</a></p>
        </div>
    </div>
    <!-- End:底部 -->
</body>
<script type="text/javascript" src="../frame/static/js/jquery.min.js?v=1.0"></script>
<script type="text/javascript" src="../frame/static/js/jquery.cookie.min.js?v=1.0"></script>
<script type="text/javascript" src="../frame/static/js/comm.js?v=1.0"></script>
<script type="text/javascript" src="../frame/static/js/regist.js?v=1.0"></script>
<script>
    $(function() {
        regisitStep3();
    });
</script>

</html>